/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* TIPOGRAPHY */
* {
    font-family: "Edu TAS Beginner", serif;
}


/* GENERAL */
.img-fluid {
    padding: 20px;
}


/* HEADER */
header {
    background-image: url("/img/wall.png");
}

header > h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}


/* MAIN */
body {
    background-image: url("/img/cork.png");
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(100%/3 - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
}

.pin {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -20%;
}

.card > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card p {
    margin-top: 5px;
}

/* MEDIA QUERY */
@media screen and (max-width: 800px) {
    .container {
        max-width: 600px;
    }
    .card {
        width: calc(100%/2 - 20px);
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 300px;
    }
    .card {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 250px) {
    header > h1 {
        font-size: 25px;
    }

    .card {
        padding: 10px;
        font-size: 12px;
    }
}