/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* TIPOGRAPHY */
* {
    font-family: "Edu TAS Beginner", serif;
}


/* GENERAL */
.img-fluid {
    padding: 20px;
}

.hidden {
    display: none;
}

/* HEADER */
header {
    background-image: url("/img/wall.png");
}

header > h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 3px;
}


/* MAIN */
body {
    background-image: url("/img/cork.png");
}

main {
    position: relative;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc(100%/3 - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 3px 5px 3px rgb(14, 14, 14);
}

.pin {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -20%;
}

.card > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card p {
    margin-top: 5px;
}


.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.overlay > button {
    position: absolute;
    left: 50%;
    top: 10%;
    translate: -50%;
    padding: 5px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}


.overlay > img {
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
}


/* EFFECTS */
/* hover */
.card:hover {
    position: relative;
    z-index: 5;
    transform: scale(1.1);
    rotate: 5deg;
    transition: 0.3s;
    box-shadow: 6px 8px 6px rgb(14, 14, 14);
    cursor: pointer;
}

/* click */


/* MEDIA QUERY */
@media screen and (max-width: 800px) {
    .container {
        max-width: 600px;
    }
    .card {
        width: calc(100%/2 - 20px);
    }
    .overlay > img {
        max-width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 300px;
    }
    .card {
        width: calc(100% - 20px);
    }
    .overlay > button {
        font-size: 12px;
        padding: 3px;
    }
    .overlay > img {
        max-width: 150px;
    }
}

@media screen and (max-width: 250px) {
    header > h1 {
        font-size: 25px;
    }

    main {
        font-size: 12px;
    }

    .container {
        max-width: 200px;
    }

    .card {
        padding: 10px;
    }

    .overlay > img {
        max-width: 100px;
    }
}